/*  --------------------------------------------------------------------------
  General
  --------------------------------------------------------------------------*/
html,
body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* smoothing */
  -webkit-text-size-adjust: none;
  -webkit-text-stroke: 1px transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
}
/*  --------------------------------------------------------------------------
  Accessibility
  --------------------------------------------------------------------------*/
:focus {
  outline: 0;
}
/*  --------------------------------------------------------------------------
  Re-usable general
  --------------------------------------------------------------------------*/
// http://getbootstrap.com/css/#helper-classes-center
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row.padding {
  padding: 10px;
}
.pull-right {
  text-align: right;
}
.container.content {
  padding: 15px;
}
.cursor-pointer,
.cursor-pointer:hover {
  cursor: pointer;
}
.well {
  filter: none;
}
/*  --------------------------------------------------------------------------
  H1 area
  --------------------------------------------------------------------------*/
.content-header {
  overflow: hidden;
  clear: both;
  a {
    padding: 0 0 0 15px;
  }
  h1 {
    margin-bottom: 0;
    &:after {
      content: '';
      background: #d63181;
      width: 120px;
      height: 5px;
      display: block;
      margin-top: 5px;
    }
  }
}
/*  --------------------------------------------------------------------------
  Font weighting
  --------------------------------------------------------------------------*/
.strong {
  font-weight: strong;
}
.regular {
  font-weight: 400;
}
.normal {
  font-weight: normal;
}
.light {
  font-weight: lighter;
}
.strike-through {
  text-decoration: line-through;
  color: black;
}
.break-word {
  word-wrap: break-word;
}
/*  --------------------------------------------------------------------------
  Font convenience
  --------------------------------------------------------------------------*/
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
/*  --------------------------------------------------------------------------
  Block
  --------------------------------------------------------------------------*/
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
/*  --------------------------------------------------------------------------
  Borders: consider a mix-in for this
  --------------------------------------------------------------------------*/
.gray-right-border {
  border-right: 1px solid gray;
}
.gray-bottom-border {
  border-bottom: 1px solid gray;
}
.gray-left-border {
  border-left: 1px solid gray;
}
.gray-top-border {
  border-top: 1px solid gray;
}
/*  --------------------------------------------------------------------------
  Form
  --------------------------------------------------------------------------*/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*  --------------------------------------------------------------------------
  Animation relavent
  --------------------------------------------------------------------------*/
.crop {
  overflow: hidden;
}
.fullscreen {
  width: 100%;
}
/*  --------------------------------------------------------------------------
  Position
  --------------------------------------------------------------------------*/
.position-fixed {
  position: fixed;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

html.production .debug {
  display: none;
}
