body {
  font-family: normal 13px / 140% 'Helvetica Neue', Helvetica;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
}

a {

  &:visited {
    color: #000;
  }

  &:hover {
    color: #ccc;
  }

}
