$bg: #1e1e1e;
$color: white;
$smackdown: #3b30fe;
$raw: #eb1826;
$nxt: #ffc71c;

body {
  background-color: $bg;
  color: $color;
  a {
    color: $color;
  }
}

h1 {
  font-size: 60px;
  img {
    max-height: 80px;
  }
}

// bucket drops
.bucket {
  &__logo {
    height: 60px;
  }
}

.drops {
  min-height: 150px;
  height: auto;
  width: 100%;
  padding: 15px;
}

.drop {
  list-style: none;
  display: list-item;
  &__name {}
  &__image {}
}

// bucket drops modifiers
.drops--raw {
  background-color: $raw;
  color: white;
}

.drops--nxt {
  background-color: $nxt;
  color: black;
}

.drops--smackdown-live {
  background-color: $smackdown;
  color: white;
}
