$bg: #1e1e1e;
$color: white;
$smackdown: #3b30fe;
$raw: #eb1826;
$nxt: #ffc71c;

body {
  background-color: $bg;
  color: $color;
}
a {
  color: $color;
}
.bucket {
  height: 100px;
}
// Modifiers
.bucket--raw {
  background-color: $raw;
  color: white;
}

.bucket--nxt {
  background-color: $nxt;
  color: black;
}

.bucket--smackdown-live {
  background-color: $smackdown;
  color: white;
}
